{# templates/account/update.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Mise à jour du profil{% endblock %}

{% block body %}
<h2>Mise à jour du profil</h2>

<card>
{{ form_row(form.pseudo) }}
{{ form_row(form.email) }} 
{{ form_row(form.oldPassword) }}
{{ form_row(form.newPassword.first) }}
{{ form_row(form.newPassword.second) }}

{{ form_end(form) }} 
</card>
{% endblock %}