{% extends 'base.html.twig' %} 

{% block title %}S'inscrire{% endblock %}

{% block body %} 

{% for flash_error in app.flashes('verify_email_error') %}
<div class="custom-alert alert-danger">{{ flash_error }}</div>
{% endfor %}

<div class="custom-login-form">
  <h1 class="custom-login-title">S'inscrire</h1>

  {{ form_start(registrationForm) }}

  <label for="{{ registrationForm.email.vars.id }}" class="custom-login-label">Email</label>
  {{ form_widget(registrationForm.email, { attr: { class: "custom-login-input form-control" }}) }}

</br>
  <label for="{{ registrationForm.pseudo.vars.id }}" class="custom-login-label">Pseudo</label>
  {{ form_widget(registrationForm.pseudo, { attr: { class: "custom-login-input form-control" }}) }}

  <div class="password-container">
    <label for="{{ registrationForm.plainPassword.first.vars.id }}" class="custom-login-label">Mot de Passe</label>
    {{ form_widget(registrationForm.plainPassword.first, { attr: { class: "custom-login-input form-control" }}) }}
  </br>
    <label for="{{ registrationForm.plainPassword.second.vars.id }}" class="custom-login-label">Répéter le Mot de Passe</label>
    {{ form_widget(registrationForm.plainPassword.second, { attr: { class: "custom-login-input form-control" }}) }}
  </div>

  <div class="custom-login-checkbox">
    {{ form_widget(registrationForm.agreeTerms) }}
    {{ form_label(registrationForm.agreeTerms) }}
  </div>

  {{ form_row(registrationForm.profileImageFile) }}



  <button type="submit" class="custom-login-button btn btn-lg btn-primary">S'inscrire</button>

  {{ form_end(registrationForm) }}
</div>

{% endblock %}
