{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
          integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
          crossorigin=""/>
    <style>
        #map {
            height: 450px;
            border: 2px solid red;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>La Carte du Réseau CTS</h1>

    <div id="map"></div>

    <ul>
        {% for line in lines %}
            {% if line.Extension == 'tram' %}
                <li>{{ line.LineName }}
                    -
                    {{ line.LineRef }}
                    -
                    {{ line.RouteColor }}</li>
            {% endif %}
        {% endfor %}
    </ul>

    {% block javascripts %}
        {{ parent() }}
        <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
                integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
                crossorigin=""></script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                // Récupérer les données des lignes passées depuis le contrôleur
                var lines = {{ lines | json_encode | raw }};

                // Initialiser la carte Leaflet
                var map = L.map('map').setView([48.5734053, 7.7521113], 13);
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
                    maxZoom: 18
                }).addTo(map);

                // JavaScript pour manipuler la carte Leaflet

                function init() {
                    // Boucle pour parcourir le tableau de points et générer un marqueur pour chaque point
                    for (var i = 0; i < lines.length; i++) {
                        var line = lines[i];

                        // Vérifier si les coordonnées sont définies
                        if (line.lat !== undefined && line.lng !== undefined) {
                            // Créer un marqueur pour chaque ligne
                            var marker = L.marker([line.lat, line.lng]).addTo(map);
                            marker.bindPopup(line.name);
                        }
                    }
                }

                init();
            });
        </script>
    {% endblock %}
{% endblock %}
