<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Welcome!{% endblock %}
        </title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="{{ asset('stylesheet.css') }}">
        
        
        {# Script pour la popup alerte #}
        <script src="{{ asset('notif.js') }}"></script>
    
        {% block stylesheets %}
    <style>
    

    </style>
    {% endblock %}

    {% block javascripts %}
    <script>
        window.addEventListener("scroll", function () {
            var navbar = document.querySelector(".navbar");
            if (window.pageYOffset > 100) {
                navbar.classList.add("hide");
            } else {
                navbar.classList.remove("hide");
            }
        });

        function toggleMenu() {
            var navbar = document.querySelector(".navbar");
            navbar.classList.toggle("responsive");
            var menuIcon = document.querySelector(".menu-icon");
            menuIcon.classList.toggle("open");
        }

        {% if not app.user %}
        var modal = document.getElementById("myModal");
        var closeButton = document.getElementsByClassName("close")[0];

        map.on('click', function (e) {
            e.preventDefault();
            if (app.user) {
                var isConfirmed = confirm("Êtes-vous sûr de vouloir ajouter ce marqueur d'alerte ici ?");
                if (isConfirmed) {
                    modal.style.display = "block";
                }
            } else { // Afficher un message pour demander la connexion
                alert("Vous devez être connecté pour ajouter un marqueur personnalisé.");
            }
        });

        closeButton.onclick = function () {
            modal.style.display = "none";
        };

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        };
        {% endif %}

    



    function closeModal() {
        var modal = document.getElementById("myModal");
        modal.style.display = "none";
    }

    </script>
    {% endblock %}
</head>
<body>
<header>
    <div class="navbar">
        <div class="menu-icon" onclick="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul>
            {% if app.user %}
                <li>
                    <a href="{{ path('app_logout') }}">Se déconnecter</a>
                </li>
                {# <li>
                    <a href="{{ path('your_profile') }}">{{ app.user.pseudo }}</a>
                </li> #}
            {% else %}
                <li>
                    <a href="{{ path('app_login') }}">Se connecter</a>
                </li>
                <li>
                    <a href="{{ path('app_register') }}">S'inscrire</a>
                </li>
            {% endif %}
            <li>
                <a href="{{ path('points_map') }}">Carte</a>
            </li>
            <li>
                <a href="{{ path('get_alerte') }}">Demander de l'aide</a>
            </li>
            <li>
                <a href="{{ path('app_categorie') }}">Forum</a>
            </li>
        </ul>
    </div>
</header>

{% if not app.user %}
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>Connectez-vous ou inscrivez-vous</h2>
        <p>Vous devez être connecté pour ajouter un marqueur personnalisé.</p>
        <div class="buttons">
            <a href="{{ path('app_login') }}" class="login-button">Se connecter</a>
            <a href="{{ path('app_register') }}" class="register-button">S'inscrire</a>
        </div>
    </div>
</div>

{% endif %}

{% block body %}
<div id="message">

</div>

<div id="latestAlert"></div> <!-- Balise div pour afficher la dernière alerte -->

{% endblock %}

<script>
{# MERCURE PUSH JS #}
const eventSource = new EventSource("{{ mercure('https://example.com/books/1')|escape('js') }}");
eventSource.onmessage = event => {
    // Will be called every time an update is published by the server
    document.getElementById("message").innerHTML+= "<div class="card>" "+(JSON.parse(event.data)).status+"</div></br>";
}
</script>

</body>
</html>
