{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}


 <h1> La liste des posts </h1>

<ul>
    {% for post in posts %}
        Message de {{ post.user }} : <br>
        {{ post.text }} <br>
        posté le : {{ post.datePost }} <br>
    {% endfor %}
</ul>


	<h1>
		<a href="{{ path('app_topic') }}">La liste des posts de
			{{ topic.getNomTopic() }}</a>
	</h1>

	{% for post in topic.posts %}
		<br>
		<p>
			<a href="{{ path('app_topic_show', {'id': topic.id}) }}">{{ topic }}</a>
		</p>
		<p>Créé par :
			{{ post.user.pseudo }}</p>

		{% if post.user == app.user %}
			<a class="btn btn-warning" href="{{ path('delete_post', {'id': post.id}) }}">Delete</a>
		{% endif %}


		<br>
	{% endfor %}

	<hr>

	<h2>Ajouter un nouveau post</h2>
	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button type="submit" class="btn btn-primary">Ajouter</button>
	{{ form_end(form) }}
{% endblock %}


















{% endblock %}
