{% extends 'base.html.twig' %}

{% block title %}{{ topic.getTitre() }}{% endblock %}

{% block body %}
    <h1>{{ topic.getTitre() }}</h1>
    <h1><a href="{{ path('show_categorie', {'id': topic.getCategorie().getId()}) }}">{{ topic.getTitre() }}</a></h1>




    <p>Posté le {{ topic.getCreationDate()|date('Y-m-d') }}</p>

    <h2>Liste des posts :</h2>
    <ul>
        {% for post in topic.getPosts() %}
            <li>
                Pseudo : {{ post.getUser().getPseudo() }}<br>
                Date de création : {{ post.getDatePost()|date('Y-m-d') }}<br>
                Contenu : {{ post.getText() }}
            </li>
            <br>
        {% endfor %}
    </ul>
{% endblock %}
