{% extends 'base.html.twig' %}

{% block title %}Hello PostController!
{% endblock %}

{% block body %}


	<h1>
		<a href="{{ path('app_topic') }}">La liste des posts du Topic :
			{{ topic.getTitre() }}</a>
	</h1>

	<ul>
		{% for post in topic.posts %}
			Message de
			{{ post.user }}
			:
			<br>
			{{ post.text }}
			<br>
			posté le :
			{{ post.datePost|date('Y-m-d H:i:s') }}
			{% if post.user == app.user %}
				<a class="btn btn-warning" href="{{ path('delete_post', {'id': post.id}) }}">Retirer le message</a>
			{% endif %}
			<br><br><br>
		{% endfor %}
	</ul>

	<hr>

	<h2>Ajouter un nouveau post</h2>
	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button type="submit" class="btn btn-primary">Ajouter</button>
	{{ form_end(form) }}

{% endblock %}
