{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block style %}
<style>


</style>
{% endblock %}


{% block body %}
<div id="neumorphic-container">
    <h1>
        <a href="{{ path('app_categorie') }}">La liste des topics de {{ categorie.getNomCategorie() }}</a>
    </h1>

    {% if categorie.topics|length > 0 %}
        {% for topic in categorie.topics %}
            <br>
            <div class="card">
            <p>
                <a href="{{ path('app_topic_show', {'id': topic.id}) }}">{{ topic }}</a>
                {% if is_authenticated and topic.user == user %}
                </br>
                    <a class="btn btn-delete" href="{{ path('delete_topic', {'id': topic.id}) }}" 
                    onclick="return confirmDelete('{{ path('delete_topic', {'id': topic.id}) }}');">Clôturer le Sujet</a>
                {% endif %}
            </p>
            <p>
                Créé par :
                {% if topic.user %}
                    {{ topic.user.pseudo }}
                {% else %}
                    Utilisateur inconnu
                {% endif %}
            </p>
            </div>
            <br>
        {% endfor %}
    {% else %}
        <p>Aucun topic disponible pour cette catégorie. Soyez le premier à en ouvrir un avec le formulaire ci-dessous.</p>
    {% endif %}

    <hr>
    
    {% if app.user %}
        <div class="card">
            <h2>Ajouter un nouveau topic</h2>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="topic-link">Ajouter</button>
            {{ form_end(form) }}
        </div>
    {% else %}
        <p>Vous devez être connecté pour ajouter un nouveau topic.</p>
            <ul>
                <li>
                    <a href="{{ path('app_login') }}">Se connecter</a>
                </li>
                <li>
                    <a href="{{ path('app_register') }}">S'inscrire</a>
                </li>
            </ul>
        </div>
    {% endif %}
    
    <script>
        function confirmDelete(url) {
            if (confirm('Êtes-vous sûr de vouloir supprimer ce topic et tous ses posts associés ?')) {
                window.location.href = url;
            }
            return false;
        }
    </script>
{% endblock %}
